* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#F2F5F9;
    font-family: 'Outfit';
    font-size: 16px;
}

h1{
    color:green;
}

body{ 
    background-image: url("../resources/bg-guess-the-word.jpg");
    background-position: center;
}

.body{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    justify-content: space-evenly;
}
.container{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #030616;
    padding:30px 35px;
    border-radius: 10px;
    flex:0.21;
    gap:20px;
}

.container > img{
    height: 18px;
}
.scramble{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #4A5567;
    width:100%;
    height:80px;
    box-shadow: 0px 4px 0px 0px #030616;

}

.scramble >h2{
    font-size: 2rem;
    font-weight: 500;
}
.info{
    display:Flex;
    width:95%;
    justify-content: space-between;
}
.info>p{
    font-size: 0.75rem;
}

.ans{
    margin:25px 0;
    display: flex;
    gap:10px;
}

.letterInput{
    text-align: center;
    border:2px solid #97A3B6;
    border-radius: 10px;
    width:50px;
    background-color: #030616;
    height:50px;
    font-size: 1.25rem;
    font-weight:300;
}
.right{
    border:2px solid green;
}
.btns{
    display: flex;
    gap:20px;
}

.btns >button{
    background-color: #C951E7;
    padding:10px 30px;
    outline:none;
    border:none;
    border-radius: 10px;
    font-size: 0.875rem;
    filter: drop-shadow(0px 4px 0px #7b248a);
    cursor: pointer;
}




.author-info {
    flex:0;
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}
